<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<TabView selectedIndex="0" androidTabsPosition="bottom" selectedTabTextColor="blue">
    <StackLayout *tabItem="{title: 'Charts'}" orientation="vertical" height="100%" width="100%">
        <charts></charts>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Portfolio'}">
        <portfolio></portfolio>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Misc'}">
        <button text="Print market" (tap)="printMarket()"></button>
        <button text="Print portfolio" (tap)="printPortfolio()"></button>
        <button text="Clear market" (tap)="clearMarket()"></button>
        <button text="Clear portfolio" (tap)="clearPortfolio()"></button>
    </StackLayout>
</TabView>