<!-- TODO: Add extra functionaliy buttons and search bar -->
<StackLayout horizontalAlignment="center" verticalAlignment="center">
    <SearchBar hint="Enter a coin..." textFieldBackgroundColor="white" (loaded)="clearFocus($event.object)"></SearchBar>
    <Label [text]="name" style="text-align: center"></Label>
    <GridLayout rows="auto" columns="*, 3*, *">
        <Button row="0" col="0" text="&#xea0b;" class="iconButtons"></Button>
        <TextField row="0" col="1" id="amountOwned" hint="Amount Owned" (textChange)="update($event.object)" keyboardType="number" secure="false" returnKeyType="done"></TextField>
        <Button row="0" col="2" text="&#xea0a;" class="iconButtons"></Button>
    </GridLayout>
    <TextField id="purchasedPrice" hint="Purchased Price" (textChange)="update($event.object)" keyboardType="number" secure="false" returnKeyType="done"></TextField>
    <TextField id="datePurchased" hint="Date Purchased" [text]="results['datePurchased']" (textChange)="update($event.object)" keyboardType="datetime" secure="false" returnKeyType="done"></TextField>
    <Button (tap)="showDateTimePicker()" text="Select Date"></Button>
    <StackLayout orientation="horizontal" marginTop="12">
        <Button text="cancel" (tap)="close()"></Button>
        <Button text="Add" (tap)="add()"></Button>
    </StackLayout>
    <ScrollView orientation="vertical">
    </ScrollView>
</StackLayout>