<!-- TODO: Add extra functionaliy buttons and search bar -->
<GridLayout rows="auto, *, auto" columns="*" horizontalAlignment="center" verticalAlignment="center">
    <SearchBar row="0" col="0" hint="Enter a name..." textFieldBackgroundColor="white" (loaded)="clearFocus($event.object)" marginBottom="15" (textChange)="filterResults($event.object.text)" (submit)="clearFocus($event.object)"></SearchBar>
    <StackLayout *ngIf="showResults" row="1" col="0" verticalAlignment="stretch">
            <ListView [items]="searchResults" height="80%" backgroundColor="lightgray">
                <StackLayout *ngFor="let result of searchResults" width="100%" (tap)="chooseName(result)">
                    <Label height="30" [text]="result" horizontalAlignment="stretch" verticalAlignment="center" style="font-size: 15px" width="100%"></Label>
                </StackLayout>
            </ListView>
    </StackLayout>
    <GridLayout row="1" col="0" [opacity]="inputOpacity" rows="auto, auto, auto, auto, auto, auto, auto, auto, auto" columns="*, 3*, *" marginBottom="10" marginTop="10">
        <!-- Search Results -->
        <!-- Coin Label -->
        <Label *ngIf="results['name']" row="0" col="1" [text]="results['name']" class="h2" horizontalAlignment="center"></Label>
        <Label row="1" col="1" verticalAlignment="top" height="3px" backgroundColor="gray" marginTop="-4"></Label>
        <Label row="2" col="1" horizontalAlignment="center" verticalAlignment="top" text="Name" marginTop="-5"></Label>
        <!-- Amount Owned -->
        <Button row="3" col="0" text="&#xea0b;" class="iconButtons" (tap)="decreaseAmountOwned()"></Button>
        <TextField row="3" col="1" id="amountOwned" [text]="results['amountOwned']" (textChange)="update($event.object)" keyboardType="number" secure="false" returnKeyType="done" class="h2 text-center" (loaded)="$event.object.android.clearFocus()"></TextField>
        <Button row="3" col="2" text="&#xea0a;" class="iconButtons" (tap)="increaseAmountOwned()"></Button>
        <Label row="4" col="1" text="Amount" horizontalAlignment="center" verticalAlignment="top" marginTop="-10"></Label>
        <!-- Purchased Price -->
        <TextField row="5" col="1" [text]="results['purchasedPrice']" id="purchasedPrice" (textChange)="update($event.object)" keyboardType="number" secure="false" returnKeyType="done" class="h2 text-center"></TextField>
        <Button row="5" col="2" text="&#xea2e;" class="iconButtons" (tap)="resetPrice()"></Button>   
        <Label row="6" col="1" text="Purchased Price" horizontalAlignment="center" verticalAlignment="top" marginTop="-10"></Label>
        <!-- Date Purchased -->
        <Label row="7" col="1" [text]="results['datePurchased']" horizontalAlignment="center" class="h2 text-center" verticalAlignment="bottom" style="border-bottom-style:solid" (tap)="showDateTimePicker()" textWrap="true" marginTop="15"></Label>
        <!-- <Button row="7" col="2" (tap)="showDateTimePicker()" text="&#xe953;" class="iconButtons"></Button> -->
        <Label row="8" col="1" verticalAlignment="top" height="3px" backgroundColor="gray" marginTop="-4"></Label>
        <Label row="9" col="1" horizontalAlignment="center" verticalAlignment="top" text="Date Purchased" marginTop="-5"></Label>
    </GridLayout>
    <GridLayout row="2" col="0" rows="auto" columns="auto, *, auto" marginTop="20">
        <Button row="0" col="0" text="Cancel" (tap)="close()"></Button>
        <Button row="0" col="2" text="Add" (tap)="add()"></Button>
    </GridLayout>
</GridLayout>