<StackLayout orientation="horizontal">
    <StackLayout orientation="vertical" width="50%";>
        <Label [text]="name" textWrap="true" style="text-align: center" verticalAlignment="center"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" width="50%">
        <Label [text]="amountOwned" textWrap="true" style="text-align: center" verticalAlignment="center"></Label>
        <Label [text]="price" textWrap="true" style="text-align: center" verticalAlignment="center"></Label>
        <Label [text]="datePurchased" textWrap="true" style="text-align: center" verticalAlignment="center"></Label>
    </StackLayout>
</StackLayout>